API_PORT=8000

POSTGRES_DB=gms
POSTGRES_USER=gms
POSTGRES_PASSWORD=gms
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgresql+asyncpg://gms:gms@postgres:5432/gms
REDIS_URL=redis://redis:6379/0
APP_NAME=GMS Backend
ENVIRONMENT=development
